In [4]:
import pandas as pd
import numpy as np
loaded_rul = pd.read_parquet('turbofan_RUL.parquet', engine='pyarrow')

In [6]:
(loaded_rul)

            my_series
id
[1, 63]             3
[1, 103]            3
[1, 143]            3
[1, 183]            2
[2, 63]             3
...               ...
[709, 63]           3
[709, 103]          3
[709, 143]          3
[709, 183]          3
[709, 223]          2

[3274 rows x 1 columns]